<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <appSettings>
    <add key="MySqlConnStr" value="Data Source=120.27.200.3;port=3306;Initial Catalog=jh_baoke;Persist Security Info=True;User ID= baoke;Password=123456;pooling=true;Min Pool Size=6;Charset=utf8;" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies />
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx"  timeout="15" defaultUrl="~/admin/index.aspx" />
    </authentication>
  </system.web>
  <location path="admin">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
</configuration>
